<!DOCTYPE html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <style>
        table.center{
            margin-left: auto;
            margin-right: auto;
        }

        .explain {
            text-align: center;
        }
    </style>
</head>
<body>
<table class="center">
    <tr>
        <td>
            <h1>Hello. This is h1! HELLO THIS IS H1!</h1>
            <h1 class="explain">200% base font size or <em>
                font-size: 2em;
            </em></h1>
        </td>
    </tr>
    <tr>
        <td>
            <h2>Hello. This is h2! HELLO THIS IS H2!</h2>
            <h2 class="explain">150% base font size or <em>
                font-size: 1.5em;
            </em></h2>
        </td>
    </tr>
    <tr>
        <td>
            <h3>Hello. This is h3! HELLO THIS IS H3!</h3>
            <h3 class="explain">
                117% base font size or <em>
                font-size: 1.17em;
            </em>
            </h3>
        </td>
    </tr>
    <tr>
        <td>
            <h4>Hello. This is h4! HELLO THIS IS H4!</h4>
            <h4 class="explain">100% base font size or <em>
                font-size: 1em;
            </em></h4>
        </td>
    </tr>
    <tr>
        <td>
            <h5>Hello. This is h5! HELLO THIS IS H5!</h5>
            <h5 class="explain">83% base font size or <em>
                font-size: .83em;
            </em></h5>
        </td>
    </tr>
    <tr>
        <td>
            <h6>Hello. This is h6! HELLO THIS IS H6!</h6>
            <h6 class="explain">67% base font size or <em>
                font-size: .67em;
            </em></h6>
        </td>
    </tr>

    </table>
</body>
</html>